# Resend Email API
RESEND_API_KEY=re_xxxxxxxxxxxxx
RESEND_FROM_EMAIL=hello@blurrdstudio.com
RESEND_ADMIN_EMAIL=admin@blurrdstudio.com

# Stripe Payment API
STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxxx
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_xxxxxxxxxxxxx
